This section covers the set up on Google CoLab, before going into the questions.

In [ ]:
# Start session
!pip install pyspark
!pip install --ignore-install -q findspark
from pyspark import SparkConf,SparkContext
from pyspark.sql import SparkSession
from pyspark.sql.types import *
from pyspark.sql.functions import *
import collections
from functools import reduce # Used for Q(7)
spark = ( SparkSession.builder.master("local")
  .appName("Spark Dataframe basics")
  .config('spark.ui.port', '4050')
  .getOrCreate() )

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.4.0)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)

Q1 This question is test your understanding of Python Basics.

1.   What is 8 to the power 4?
2.   Split this string “Split this string”
3.   Given the variables: planet = “Earth”, diameter = 12742, use .format() to print the following string “The diameter of Earth is 12742 kilometers.”
4.   Given the name list, use indexing to grab word “target”, the_list = [1,2,[3,4],[5,[100,200,['target']],23,11],1,7]
5.   Given this nest dictionary grab the work “hello”. The_dic = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}
6.   Create a basic function that returns True if the word 'elephant' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization.
7.   Create a function that counts the number of times the word "elephant" occurs in a string. Again ignore edge cases.
8.   Write a function to return one of 3 possible results: "Low speed", "Medium speed", or "Fast speed". If your speed is 60 or less, the result is "Low speed". If speed is between 61 and 80 inclusive, the result is "Medium speed". If speed is 81 or more, the result is "Fast speed". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all cases.

In [ ]:
# (1) What is 8 to the power 4
(lambda x, y: x ** y)(8, 4)

4096

In [ ]:
# (2) Split this string “Split this string”
string = "Split this string"
print(string.split())

['Split', 'this', 'string']

In [ ]:
# (3) Given the variables: planet = “Earth”, diameter = 12742, use .format() to print the following string “The diameter of Earth is 12742 kilometers.”
planet = "Earth"
diameter = 12742
print("The diameter of Earth is {}.".format(diameter))

The diameter of Earth is 12742.

In [ ]:
# (4) Given the name list, use indexing to grab word “target”, the_list = [1,2,[3,4],[5,[100,200,['target']],23,11],1,7]
the_list = [1, 2, [3, 4], [5, [100, 200, ['target']], 23, 11], 1, 7]
print(the_list[3][1][2][0])

target

In [ ]:
# (5) Given this nest dictionary grab the work “hello”. The_dic = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}
The_dic = {'k1': [1, 2, 3, {'tricky': ['oh', 'man', 'inception', {'target': [1, 2, 3, 'hello']}]}]}
print(The_dic['k1'][3]['tricky'][3]['target'][3])

hello

In [ ]:
# (6) Create a basic function that returns True if the word 'elephant' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization.
returns_elephant = lambda input_string: any(map(lambda x: 'elephant' in x.lower(), input_string.split()))

In [ ]:
# (7) Create a function that counts the number of times the word "elephant" occurs in a string. Again ignore edge cases.
count_elephant = lambda input_string: reduce(lambda x, y: x + (y == 'elephant'), map(str.lower, input_string.split()), 0)

In [ ]:
# (8) Write a function to return one of 3 possible results: "Low speed", "Medium speed", or "Fast speed". If your speed is 60 or less, the result is "Low speed". If speed is between 61 and 80 inclusive, the result is "Medium speed". If speed is 81 or more, the result is "Fast speed". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all cases.
get_speed_category = lambda speed, is_birthday: "Low speed" if (speed + 5 * is_birthday) <= 60 else "Medium speed" if (speed + 5 * is_birthday) <= 80 else "Fast speed"

Q2 This question is test your understanding of PySpark operations on DataFrame (Optional).

Given the following DataFrame which contains “employee_name”, “department”, “country“, “salary”, “age” and “bonus” columns
Data = [("James","Sales","SG",70000,34,10000),
  ("Michael","Sales","SG",66000,56,20000),
  ("Robert","Sales","MY",61000,30,23000),
  ("Maria","Finance","MY",60000,24,23000),
  ("Raman","Finance","USA",79000,40,24000),
  ("Scott","Finance","USA",63000,36,19000),
  ("Jen","Finance","UK",89000,53,15000),
  ("Jeff","Marketing","UK",70000,25,18000),
  ("Alice","Marketing","UK",78000,50,21000),
  ("Ada","IT","SG",83000,35,11000),
  ("Jackson","IT","MY",71000,30,21000),
  ("Cooper","IT","UK",91000,40,21000)]

Complete the following items:

9.   Create a PySpark DataFrame based on the given RDD.
10.   Show data and print schema
11.   Run groupBy() on “department” columns. Calculate aggregates like minimum, maximum, average, total salary for each group using min(), max(), avg() and sum() aggregate functions respectively.
12.   Run groupBy() on “country” columns. Calculate aggregates like minimum, maximum, average, total salary for each group using min(), max(), avg() and sum() aggregate functions respectively.

In [ ]:
# (9) Create a PySpark DataFrame based on the given RDD.
spark = SparkSession.builder.appName("EmployeeData").getOrCreate()
schema = StructType([
    StructField("employee_name", StringType(), True),
    StructField("department", StringType(), True),
    StructField("country", StringType(), True),
    StructField("salary", LongType(), True),
    StructField("age", IntegerType(), True),
    StructField("bonus", LongType(), True),
    ])
data = [("James","Sales","SG",70000,34,10000),
        ("Michael","Sales","SG",66000,56,20000),
        ("Robert","Sales","MY",61000,30,23000),
        ("Maria","Finance","MY",60000,24,23000),
        ("Raman","Finance","USA",79000,40,24000),
        ("Scott","Finance","USA",63000,36,19000),
        ("Jen","Finance","UK",89000,53,15000),
        ("Jeff","Marketing","UK",70000,25,18000),
        ("Alice","Marketing","UK",78000,50,21000),
        ("Ada","IT","SG",83000,35,11000),
        ("Jackson","IT","MY",71000,30,21000),
        ("Cooper","IT","UK",91000,40,21000)]
rdd = spark.sparkContext.parallelize(data)
df = spark.createDataFrame(rdd, schema)

In [ ]:
# (10) Show data and print schema
df.show()
df.printSchema()

+-------------+----------+-------+------+---+-----+
|employee_name|department|country|salary|age|bonus|
+-------------+----------+-------+------+---+-----+
|        James|     Sales|     SG| 70000| 34|10000|
|      Michael|     Sales|     SG| 66000| 56|20000|
|       Robert|     Sales|     MY| 61000| 30|23000|
|        Maria|   Finance|     MY| 60000| 24|23000|
|        Raman|   Finance|    USA| 79000| 40|24000|
|        Scott|   Finance|    USA| 63000| 36|19000|
|          Jen|   Finance|     UK| 89000| 53|15000|
|         Jeff| Marketing|     UK| 70000| 25|18000|
|        Alice| Marketing|     UK| 78000| 50|21000|
|          Ada|        IT|     SG| 83000| 35|11000|
|      Jackson|        IT|     MY| 71000| 30|21000|
|       Cooper|        IT|     UK| 91000| 40|21000|
+-------------+----------+-------+------+---+-----+

root
 |-- employee_name: string (nullable = true)
 |-- department: string (nullable = true)
 |-- country: string (nullable = true)
 |-- salary: long (nullable = true)
 |-- age: integer (nullable = true)
 |-- bonus: long (nullable = true)

In [ ]:
# (11) Run groupBy() on “department” columns. Calculate aggregates like minimum, maximum, average, total salary for each group using min(), max(), avg() and sum() aggregate functions respectively.
df.groupBy("department").agg(
    min("salary").alias("minimum salary"),
    max("salary").alias("maximum salary"),
    (round(avg("salary"), 0)).alias("average salary"),
    sum("salary").alias("total salary")
).show()

+----------+--------------+--------------+--------------+------------+
|department|minimum salary|maximum salary|average salary|total salary|
+----------+--------------+--------------+--------------+------------+
|     Sales|         61000|         70000|       65667.0|      197000|
|   Finance|         60000|         89000|       72750.0|      291000|
| Marketing|         70000|         78000|       74000.0|      148000|
|        IT|         71000|         91000|       81667.0|      245000|
+----------+--------------+--------------+--------------+------------+

In [ ]:
# (12) Run groupBy() on “country” columns. Calculate aggregates like minimum, maximum, average, total salary for each group using min(), max(), avg() and sum() aggregate functions respectively.
df.groupBy("country").agg(
    min("salary").alias("minimum salary"),
    max("salary").alias("maximum salary"),
   (round(avg("salary"), 0)).alias("average salary"),
    sum("salary").alias("total salary")
).show()

+-------+--------------+--------------+--------------+------------+
|country|minimum salary|maximum salary|average salary|total salary|
+-------+--------------+--------------+--------------+------------+
|     MY|         60000|         71000|       64000.0|      192000|
|    USA|         63000|         79000|       71000.0|      142000|
|     SG|         66000|         83000|       73000.0|      219000|
|     UK|         70000|         91000|       82000.0|      328000|
+-------+--------------+--------------+--------------+------------+